{% extends 'base.html' %}
{% block title %}
  Mapa Page
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mapa.css') }}">

    <!--The div element for the map -->
    <div id="mapa" style="height: 800px; width: 100%;"></div>
    <!-- [END maps_add_map_div] -->

    <script src="https://maps.googleapis.com/maps/api/js?key=?"></script>

    <!-- Caixa de informação -->
    <script src="{{ url_for('static', filename='infobox.js') }}"></script>
    <!-- Agrupamento dos marcadores -->
    <script src="{{ url_for('static', filename='markerclusterer.js') }}"></script>
    <!-- Arquivo de inicialização do mapa -->
    <script type="text/javascript" data-my_var_1="/static/mapsStores.json" src="{{ url_for('static', filename='mapa.js') }}"></script>
    
{% endblock %}