{% extends 'base.html' %}
{% block title %}
  My News Page
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Card-->
        <div class="card">
            {% for count, news_full in enumerate(articles_list) %}
            {{ loop.index + (page - 1) * per_page }}
            {% set title = news_full.0 %}
            {% set desc = news_full.1 %}
            {% set date = news_full.2 %}
            {% set datetime = news_full.3 %}
            {% set link = news_full.4 %}
            {% set img = news_full.5 %}
            {% set media = news_full.6 %}
            {% set site = news_full.7 %}

            <img src="{{img}}" class="card-img-top" alt="...">
          
            <div class="card-body">
              <h5 class="card-title">{{title}} <small>{{date}}</small></h5>
              <p class="card-text">{{desc}}</p>
              <a href="{{'https://' + link}}" class="btn btn-primary">Read more</a>
            </div>
            {% endfor %}
        </div>
    </div>
    {{ pagination.links }}
</div>

{% endblock %}